
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
}
html{
    width: 120vw;
    height: 120vh;
    font-size: 62,5%;
    overflow-x: hidden;
}


.content{
    width: 120vw;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #c7a902;
    position: fixed;
    padding-left: 10rem;
}
.logo{
    width: 45px;
    height: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}


.logo h3{
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    padding-left: 10px;
}

.logo img{
    width: 100%;
    height: 100%;
}

.content .list-menu{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
body{
     background-image: linear-gradient(rgba(15, 52, 214, 0.836), rgb(255, 230, 0)) ,url();
}

.content .list-menu li a{
    padding: 3rem 1rem 1rem 1rem;
    color: white;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 50ms ease-in;
}

.content .list-menu li a:hover{
    background-color: #fdcf0033;
    border-bottom: 3px solid #ffc506;
    color: #ffc506;
    border-radius: 3px;
}



.first-section{
    height: 100vh;
   
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.first-section .conteudo-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.first-section h1{
    color: #000000;
    font-size: 2.3em;
    text-transform: uppercase;
    margin-bottom: 1rem;

}

.first-section h2{
    color: rgb(0, 0, 0);
    font-size: 1.15em;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.btn button{
    width: 230px;
    height: 60px;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #0d38c5d7;
    border-radius: 10px;
    color: rgb(175, 149, 1);
    font-weight: 700;
    margin-top: 3rem;
    transition: all 100ms ease-in;
    display: block;
}

.btn button:hover{
    border: 1px solid #000000b9;
    background-color: transparent;
    color: #000000;
}
.btn{
    width: 480px;
    justify-content:0;
    margin-left: 250px;
}
.kejo{
    display: inline;
    justify-content: space-between;
 
}
.kejo2{
    display: inline;
    justify-content: space-between;
    margin-left: 600px;
}